<div class="card mb-5 mb-xl-10">
    <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
        data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
        <div class="card-title m-0">
            <h3 class="fw-bolder m-0">Profile Details</h3>
        </div>
    </div>
    <div id="kt_account_profile_details" class="collapse show">
        <form [formGroup]="petForm" novalidate class="form">
            <div class="card-body border-top p-9">
                <!-- Name -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Name</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control form-control-lg form-control-solid"
                            formControlName="name" placeholder="Pet name" />
                    </div>
                </div>
                <!-- Type -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Type</label>
                    <div class="col-lg-8">
                        <select class="form-select form-select-lg form-select-solid" formControlName="type">
                            <option *ngFor="let type of petTypes" [value]="type._id" [selected]="type._id === petForm.get('type')?.value">
                                {{ type.name.en }}
                            </option>
                        </select>
                    </div>
                </div>
                <!-- Breed Type -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Breed Type</label>
                    <div class="col-lg-8">
                        <select class="form-select form-select-lg form-select-solid" formControlName="gender">
                            <option *ngFor="let breedType of petBreedtype" [value]="breedType.name"
                                [selected]="breedType.name === petForm.get('breedType')?.value">
                                {{ breedType.name }}
                            </option>
                        </select>
                    </div>
                </div>
                <!-- Breeds -->
                <!-- <div class="row mb-6">
                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Breeds</label>
                    <div class="col-lg-8">
                        <div formArrayName="breeds" class="mb-3">
                            <div *ngFor="let breed of petForm.get('breeds')?.value; let i = index" [formGroupName]="i">
                                <div formGroupName="name" class="mb-3">
                                    <input type="text" class="form-control form-control-lg form-control-solid" formControlName="en"
                                        placeholder="Breed name" />
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-light-primary" (click)="addBreed()">+</button>
                        <button type="button" class="btn btn-light-danger ms-2" (click)="removeBreedLast()">-</button>
                    </div>
                </div> -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Breeds</label>
                    <div class="col-lg-8">
                        <div formArrayName="breeds" class="mb-3">
                            <div *ngFor="let breed of petForm.get('breeds')?.value; let i = index" [formGroupName]="i">
                                <div formGroupName="name" class="mb-3">
                                    <select class="form-control form-control-lg form-control-solid" formControlName="en">
                                        <option *ngFor="let breedOption of petBreeds" [value]="breedOption.name.en"
                                           >
                                            {{ breedOption.name.en }}
                                        </option>
                                    </select>
                                </div>
                                
                            </div>
                        </div>
                        <button type="button" class="btn btn-light-primary" (click)="addBreed()">+</button>
                        <button type="button" class="btn btn-light-danger ms-2" (click)="removeBreedLast()">-</button>
                    </div>
                </div>

                <!-- Gender -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Gender</label>
                    <div class="col-lg-8">
                        <select class="form-select form-select-lg form-select-solid" formControlName="gender">
                            <option *ngFor="let gender of petGenders" [value]="gender.en" [selected]="gender.en === petForm.get('gender')?.value">
                                {{ gender.en }}
                            </option>
                        </select>
                    </div>
                </div>
                <!-- Weight -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Weight</label>
                    <div class="col-lg-4">
                        <input type="number" class="form-control form-control-lg form-control-solid"
                            formControlName="weight" placeholder="Weight" />
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control form-control-lg form-control-solid"
                            formControlName="weightUnit" placeholder="Unit" />
                    </div>
                </div>
                <!-- Birth Date -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Birth Date</label>
                    <div class="col-lg-8">
                        <input type="date" class="form-control form-control-lg form-control-solid"
                            formControlName="birthDate" />
                    </div>
                </div>
                <!-- Adoption Date -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label fw-bold fs-6">Adoption Date</label>
                    <div class="col-lg-8">
                        <input type="date" class="form-control form-control-lg form-control-solid"
                            formControlName="adoptionDate" />
                    </div>
                </div>
                <!-- Tags -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label fw-bold fs-6">Tags</label>
                    <div class="col-lg-8">
                        <div formArrayName="tags" *ngFor="let tag of petForm.get('tags')?.value; let i = index;">
                            <div [formGroupName]="i" class="mb-2">
                                <input type="text" formControlName="name" placeholder="Tag name (en)"
                                    class="form-control mb-1" />
                                <input type="text" formControlName="_id" placeholder="Tag ID"
                                    class="form-control mb-1" />
                            </div>
                        </div>
                        <button type="button" class="btn btn-light-primary" (click)="addTag()">+</button>
                        <button type="button" class="btn btn-light-danger ms-2" (click)="removeaddTagLast()">-</button>
                    </div>
                </div>
                <!-- About -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label fw-bold fs-6">About</label>
                    <div class="col-lg-8">
                        <textarea class="form-control form-control-lg form-control-solid" formControlName="about"
                            placeholder="About the pet"></textarea>
                    </div>
                </div>
                <!-- Colors -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label fw-bold fs-6">Colors</label>
                    <div class="col-lg-8">
                        <div formArrayName="colors"
                            *ngFor="let color of petForm.get('colors')?.value; let i = index;">
                            <div [formGroupName]="i" class="mb-2">
                                <input type="text" formControlName="name" placeholder="Color name (en)"
                                    class="form-control mb-1" />
                                <input type="text" formControlName="_id" placeholder="Color ID"
                                    class="form-control mb-1" />
                            </div>
                        </div>
                        <button type="button" class="btn btn-light-primary" (click)="addColor()">+</button>
                        <button type="button" class="btn btn-light-danger ms-2" (click)="removeaddColorLast()">-</button>
                    </div>
                </div>
                <!-- Certified Pedigree URL -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label fw-bold fs-6">Certified Pedigree URL</label>
                    <div class="col-lg-8">
                        <input type="url" class="form-control form-control-lg form-control-solid"
                            formControlName="certifiedPedigreeUrl" placeholder="Certified Pedigree URL" />
                    </div>
                </div>
                <!-- Owner -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label fw-bold fs-6">Owner</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control form-control-lg form-control-solid"
                            formControlName="owner" placeholder="Owner" />
                    </div>
                </div>
                <!-- Active -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label fw-bold fs-6">Active</label>
                    <div class="col-lg-8">
                        <input type="checkbox" class="form-check-input form-check-solid" formControlName="active" />
                    </div>
                </div>
                <!-- Group Of Age -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label fw-bold fs-6">Group Of Age</label>
                    <div class="col-lg-8">
                        <select class="form-select form-select-lg form-select-solid" formControlName="gender">
                            <option *ngFor="let groupAge of petGroupAges" [value]="groupAge.name.en"
                                [selected]="groupAge.name.en === petForm.get('groupOfAge')?.value">
                                {{ groupAge.name.en }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-end py-6 px-9">
                <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="onSubmit()">
                    <ng-container *ngIf="!isLoading">Save Changes</ng-container>
                    <ng-container *ngIf="isLoading">
                        <span class="indicator-progress" [style.display]="'block'">
                            Please wait... {{ " " }}
                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                    </ng-container>
                </button>
            </div>
        </form>
    </div>
</div>